# Virtual Environments
.venv/
venv/
ENV/

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class

# Environment & Credentials
.env
*.json

# Logs
logs/
*.log

# Node & Frontend build outputs
node_modules/
dist/
.next/
build/
.cache/
